<div>
  <%= flash[:notice] %>
</div>

<div class="card-golfcourse-container py-5">
  <% @golfcourses.each do |golfcourse| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to golfcourse_path(golfcourse.id) do %>
      <%= image_tag golfcourse.get_image, class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag golfcourse.user.get_profile_image(100,100) %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= link_to(golfcourse_path(golfcourse.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= golfcourse.title %></span></strong>
            <% end %>
          </p>
          <p class="card-text"><%= golfcourse.body %></p>
          <span>
            <%= link_to golfcourse.user,class:"text-dark" do %>
              <i class="fas fa-user"></i><%= golfcourse.user.name %>
            <% end %>
          </span>
             ｜
          <span><%= link_to "#{golfcourse.post_comments.count} コメント", golfcourse_path(golfcourse.id), class:"text-dark" %></span>
          <span>
            <% if golfcourse.favorited_by?(current_user) %>
              <p>
                <%= link_to golfcourse_favorites_path(golfcourse), method: :delete do %>
                  ♥<%= golfcourse.favorites.count %> いいね
                <% end %>
              </p>
            <% else %>
              <p>
                <%= link_to golfcourse_favorites_path(golfcourse), method: :post do %>
                  ♡<%= golfcourse.favorites.count %> いいね
                <% end %>
              </p>
            <% end %>
          </span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%#= paginate @golfcourse %>
</div>

