<div>
  <%= flash[:notice] %>
</div>

<h1>投稿一覧</h1>

<% @golfcourses.each do |golfcourse| %>
<div>

  <p>投稿ユーザー画像：<%= image_tag golfcourse.user.get_profile_image(100,100) %></p>

  <p>ユーザーネーム：<%= golfcourse.user.name %></p>

  <p>タイトル：<%= link_to golfcourse.title, golfcourse_path(golfcourse.id) %></p>

  <p><%= image_tag golfcourse.image, size: "80x80" %></p>

  <p>本文：<%= golfcourse.body %></p>

  <p><%= link_to "#{golfcourse.post_comments.count} コメント", golfcourse_path(golfcourse.id) %></p>
</div>
<% end %>

