<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light p-4 mb-0"><strong><%= @golfcourse.title %></strong></h5>
      <div class="form-body p-4">
        <span>
          <%= image_tag @golfcourse.user.get_profile_image(100,100) %>
          <%= link_to @golfcourse.user,class:"text-dark" do %>
            <strong><%= @golfcourse.user.name %></strong>
          <% end %>
        </span>
          <%= image_tag @golfcourse.get_image, class: 'img-fluid' %>
        <span>
          <div id="favorite_buttons_<%= @golfcourse.id %>">
            <%= render "favorites/favorites" %>
          </div>
        </span>
        <div class="card-body">
          <div class="card-text">
            <p><%= @golfcourse.body %></p>
            <div  class="card-body">
              <% @golfcourse.post_comments.each do |post_comment| %>
                <div class="mb-3">
                  <%= link_to user_path(post_comment.user.id),class:"text-dark" do %>
                  <strong>
                    <%= post_comment.user.name %>
                  </strong>
                  <% end %>
                  <%= simple_format(post_comment.comment) %>
                  <div class="text-right">
                    <% if post_comment.user == current_user %>
                      <%= link_to "削除", golfcourse_post_comment_path(post_comment.golfcourse, post_comment), method: :delete,class:"btn btn-sm btn-danger" %>
                    <% end %>
                    <small class="text-black-50"><%= post_comment.created_at.strftime('%Y/%m/%d') %></small>
                  </div>
                </div>
              <% end %>
            </div>
            <% if @post_comment.errors.any? %>
              <div class = "alert">
                <ul>
                  <% @post_comment.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>
            <div class="card-body">
              <%= form_with model: [@golfcourse, @post_comment] do |f| %>
                <%= f.text_area :comment, class:"form-control", rows:"3", placeholder:"コメント..." %>
                <%= f.submit "送信", class: "btn btn-sm btn-info"%>
              <% end %>
            </div>
            <div class="card-body">
              <p>投稿日：<%= @golfcourse.created_at.strftime('%Y/%m/%d') %></p>
            </div>
            <div>
              <% if @golfcourse.user == current_user %>
                <%= link_to "編集", edit_golfcourse_path(@golfcourse.id),class:"btn btn-sm btn-success" %>
              <% end %>
              <% if @golfcourse.user == current_user %>
                <%= link_to "削除", golfcourse_path(@golfcourse.id), method: :delete, "data-confirm" => "本当に削除しますか？",class:"btn btn-sm btn-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>