<h2>タイトル</h2>
<p><%= @golfcourse.title %></p>

<h2>本文</h2>
<p><%= @golfcourse.body %></p>

<h2>画像</h2>
<%= image_tag @golfcourse.image, size: "300x300" %>

<%= link_to "編集", edit_golfcourse_path(@golfcourse.id) %>

<%= link_to "削除", golfcourse_path(@golfcourse.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>