<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <p><%= link_to "プロフィール編集", edit_user_path(@user.id) %></p>
</div>

<!-- ユーザーの投稿一覧 -->

<% @golfcourses.each do |golfcourse| %>
<div>
  <td>フォロー数：<%= golfcourse.user.followings.count %></td>
  <td>フォロワー数：<%= golfcourse.user.followers.count %></td>
  <td>
    <% if current_user.following?(golfcourse.user) %>
      <%= link_to "フォロー外す", user_relationships_path(golfcourse.user.id), method: :delete %>
    <% else %>
      <%= link_to "フォローする", user_relationships_path(golfcourse.user.id), method: :post %>
    <% end %>
  </td>
</div>
<% end %>




<div class="card-list-container py-5">
  <% @golfcourses.each do |golfcourse| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to golfcourse_path(golfcourse.id) do %>
      <%= image_tag golfcourse.get_image, class:"card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag golfcourse.user.get_profile_image(100,100) %>, class:"mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= link_to(golfcourse_path(golfcourse.id), class:"text-dark") do %>
              <strong><i class="far fa-flag"></i><span> <%= golfcourse.title %></span></strong>
            <% end %>
          </p>
          <p class="card-text">説明：<%= golfcourse.body %></p>
          <span><i class="fas fa-user"></i> By <%= golfcourse.user.name %> ｜ </span>
          <span><%= link_to "#{golfcourse.post_comments.count} コメント", golfcourse_path(golfcourse.id), class:"text-dark" %></span>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%#= paginate @golfcourse %>
</div>