  <!-- ユーザーの詳細 -->

<div class="row no-gutters">
  <div class="col-md-10 mx-2 mx-sm-auto shadow-lg rounded px-0 my-5">
    <h5 class="text-dark bg-light p-4 mb-0"><strong><%= @user.name %></strong></h5>
    <div class="form-body p-4">
      <div class="row">
        <div class="col-sm-8">
          <div class="row">
            <div class="col-sm-4">
              <%= image_tag @user.get_profile_image(100,100) %>
            </div>
            <div class="col-sm-4">
              <div class="d-block mt-3">
                フォロー：
                <%= link_to user_followings_path(user_id: @user.id) do %>
                  <%= @user.followings.count %>
                <% end %>
              </div>
            </div>
            <div class="col-sm-4">
              <div class="d-block mt-3">
                フォロワー：
                <%= link_to user_followers_path(user_id: @user.id) do %>
                  <%= @user.followers.count %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="d-inline-block">
            <% unless current_user == @user %>
              <% if current_user.following?(@user) %>
                <%= link_to "フォロー中", user_relationships_path(@user.id), method: :delete, class:"btn btn-secondary" %>
              <% else %>
                <%= link_to "フォロー", user_relationships_path(@user.id), method: :post, class:"btn btn-primary" %>
              <% end %>
            <% end %>
          </div>
          <!-- DM機能 -->
          <div class="d-inline-block">
            <% if @user.id != current_user.id %>
              <% if @is_room == true %>
                <%= link_to 'メッセージ', room_path(@room_id),class:"btn btn-outline-info" %>
              <% else %>
                <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e| %>
                    <% e.hidden_field :user_id, value: @user.id %>
                  <% end %>
                  <%= f.submit "新規メッセージ",class:"btn btn-outline-info" %>
                <% end %>
              <% end %>
            <% else %>
              <%= link_to "メッセージ", rooms_path,class:"btn btn-outline-info" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="row">
        <% if @user == current_user %>
          <%= link_to "プロフィール編集", edit_user_path(@user.id),class:'col-md-12 btn btn-outline-secondary btn-bock' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

      <!-- ユーザーの投稿一覧 -->

<div class="card-list-container py-5">
  <% @golfcourses.each do |golfcourse| %>
    <div class="card w-50 mx-auto mt-4 shadow-lg">
      <%= link_to golfcourse_path(golfcourse.id) do %>
        <%= image_tag golfcourse.get_image, class:"card-img-top"; %>
      <% end %>
      <div class="card-body">
        <div class="row">
          <div class="col-2">
            <%= image_tag golfcourse.user.get_profile_image(100,100), class: 'img-fluid' %>
          </div>
          <div class="col-10">
            <p class="card-title">
              <%= link_to(golfcourse_path(golfcourse.id), class:"text-dark") do %>
                <strong><i class="far fa-flag"></i><span> <%= golfcourse.title %></span></strong>
              <% end %>
            </p>
            <p class="card-text"><%= golfcourse.body %></p>
            <span class="d-inline-block"><i class="fas fa-user"></i><%= golfcourse.user.name %> ｜ </span>
            <span class="d-inline-block">
              <div id="favorite_buttons_<%= golfcourse.id %>">
                <% if golfcourse.favorited_by?(current_user) %>
                  <%= link_to golfcourse_favorites_path(golfcourse.id), method: :delete, class:"text-dark", remote: true do %>
                    <i class="fas fa-heart text-danger"></i><%= golfcourse.favorites.count %>
                  <% end %>
                  <% else %>
                  <%= link_to golfcourse_favorites_path(golfcourse.id), method: :post, class:"text-dark", remote: true do %>
                    <i class="far fa-heart"></i><%= golfcourse.favorites.count %>
                  <% end %>
                <% end %> ｜
              </div>
            </span>
            <span class="d-inline-block"><i class="fas fa-comment"></i><%= link_to "#{golfcourse.post_comments.count}", golfcourse_path(golfcourse.id), class:"text-dark" %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="mt-5">
    <%= paginate @golfcourses %>
  </div>
</div>