<h2>検索結果</h2>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to user,class:"text-dark" do %>
              <%= user.name %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!-- 検索対象モデルがGolfcourseの時 -->
    <tbody>
      <% @golfcourses.each do |golfcourse| %>
        <tr>
          <td>
            <%= link_to(golfcourse_path(golfcourse.id), class:"text-dark") do %>
              <%= golfcourse.title %>
            <% end %>
          </td>
          <td><%= golfcourse.body %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>