<div class="title">
  <h2>
    <%= ("#{@another_entry.user.name}さんとのメッセージ") %>
  </h2>
</div>
<% @messages.each do |m| %>
  <% if m.user_id == current_user.id %>
    <div class="mycomment">
      <p>
        <%= m.body %>
        <%= link_to message_path(m), method: :delete,class:"btn btn-sm btn-outline-danger" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </p>
    </div>
  <% else %>
  <div class="fukidasi">
    <div class="faceicon">
      <%= image_tag m.user.get_profile_image(50, 50) %>
      <%= @another_entry.user.name %>
    </div>
    <div class="chatting">
      <div class="says">
        <p>
          <%= m.body %>
        </p>
      </div>
    </div>
  </div>
<% end %>
<% end %>
<div class="chat-form-box">
  <%= form_for @message do |f| %>
    <div class="chat-form-group">
      <%= f.text_field :body %>
      <%= f.hidden_field :room_id, :value => @room.id %>
      <%= f.submit "送信", class: "btn btn-sm btn-info" %>
    </div>
  <% end %>
</div>
