<!DOCTYPE html>
<html>
  <head>
    <title>Golfers</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body class="d-flex flex-column vh-100">
    <header class="sticky-top shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-light">
        <%= image_tag 'golf club.png', size: "250x80" %>
        <div class="container">
          <a class="navbar-brand p-3" href="/"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>

            <a class="mr-3 mt-2" href="#" data-toggle="modal" data-target="#testModal">
              <i class="fas fa-search"></i>
            </a>

            <!--<li class="nav-item">
              <%#= render 'searches/search' %>
            </li>-->
            <li class="nav-item">
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to '投稿フォーム', new_golfcourse_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'マイページ', user_path(current_user.id), class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to 'ゴルフコース', golfcourses_path, class: 'nav-link text-dark' %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_user_registration_path, class: 'nav-link text-dark' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: 'nav-link text-dark' %>
            </li>
            <li>
              <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>
            </li>
            <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <div class="modal fade" id="testModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">
              <button type="button" class="btn btn-default" data-dismiss="modal">✖️</button>
              <%= render 'searches/search' %>
            </div>
          </div>
      </div>
    </div>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="bg-dark text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-4">
            <p>ゴルフ好きの為のSNS</p>
            <%#= image_tag 'golf club.png', size: "400x200" %>
          </div>
          <div class="col-md-8">
            <ul class="p-0 list-unstyled">
              <li>
                <%= link_to "概要", about_path, class: 'text-white-50' %>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>